@media(max-width: 1200px){
    .title{
        font-size: 60px;
    }
    .container{
        max-width: 970px;
    }
    .col-3{
        width:25%;
    }
}
@media(max-width: 1024px){
    .title{
        font-size: 40px;
    }
    .container{
        max-width: 740px;
    }
    .col-3{
        width:33.3333%;
    }
}
@media(max-width: 660px){
    .title{
        font-size: 20px;
    }
    .container{
        max-width: 400px;
    }
    .col-3{
        width:100%;

    }
}

